<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auth</title>
    <link rel="stylesheet" href="../styles/auth.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <div id="box-container">
        <div id="signin-container">
            <div class="signin-container-item">
                <h1>INICIO DE SESION</h1>
            </div>
            <div class="signin-container-item inputs">
                <div>
                    <label for="user">USUARIO</label>
                </div>
                <div>
                    <input type="text" name="user" id="user">
                </div>

            </div>
            <div class="signin-container-item inputs">
                <div>
                    <label for="password">CONTRASEÑA</label>
                </div>
                <div>
                    <input type="text" name="password" id="password">
                </div>

            </div>
            <div class="signin-container-item">

            </div>
            <div class="signin-container-item">

            </div>
            <div class="signin-container-item">

            </div>
        </div>
    </div>
</body>

</html>